---

import daniela from '../assets/miembros/daniela.webp';
import isa from '../assets/miembros/isa.webp';
import rocio from '../assets/miembros/rocio.webp';
import shael from '../assets/miembros/shael.webp';
import sheila from '../assets/miembros/sheila.webp';
import marina from '../assets/miembros/marina.webp';
import sofia from '../assets/miembros/sofia.webp';
import tatiana from '../assets/miembros/tatiana.webp';

import MiembroImg from '../components/componentes-miembros/miembro-img.astro';
import Layout from '../layouts/Layout.astro';
const title = "Miembros"
---

<Layout title = {title} textColor = "text-white" bgColor="bg-zinc-900">
    <div class="max-w-7xl mx-auto text-purple-400 mb-12">
        <div class="my-5 text-center">
            <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold text-purple-400">MIEMBROS</h1>
        </div>

        <div class="grid px-10 gap-5 justify-center items-center md:grid-cols-2 md:px-28 lg:grid-cols-4 lg:px-20" transition:animate="fade">
            <MiembroImg nombre = "Isabella" imgLink = {isa}/>
            <MiembroImg nombre = "Sofia" imgLink = {sofia}/>
            <MiembroImg nombre = "Daniela" imgLink = {daniela}/>
            <MiembroImg nombre = "Tatiana" imgLink = {tatiana}/>
            <MiembroImg nombre = "Rocio" imgLink = {rocio}/>
            <MiembroImg nombre = "Shael" imgLink = {shael}/>
            <MiembroImg nombre = "Sheila" imgLink = {sheila}/>
            <MiembroImg nombre = "Marina" imgLink = {marina}/>
        </div>

    </div>
</Layout>
