---
import MiembroImg from '../components/componentes-miembros/miembro-img.astro';
import Layout from '../layouts/Layout.astro';
import daniela from '../assets/miembros/daniela-miembro.webp';
import isa from '../assets/miembros/isa-miembro.webp';
import nombre1 from '../assets/miembros/nombre1-miembro.webp';
import nombre2 from '../assets/miembros/nombre2-miembro.webp';
import nombre3 from '../assets/miembros/nombre3-miembro.webp';
import nombre4 from '../assets/miembros/nombre4-miembro.webp';
import nombre5 from '../assets/miembros/nombre5-miembro.webp';
import sofia from '../assets/miembros/sofia-miembro.webp';
import tatiana from '../assets/miembros/tatiana-miembro.webp';

const title = "Miembros"
---

<Layout title = {title} textColor = "text-white" bgColor="bg-zinc-900">
    <div class="max-w-7xl mx-auto text-purple-400 mb-12">
        <div class="my-5 text-center">
            <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold text-purple-400">MIEMBROS</h1>
        </div>

        <div class="grid px-10 gap-5 justify-center items-center md:grid-cols-2 md:px-28 lg:grid-cols-4 lg:px-20" transition:animate="fade">
            <MiembroImg nombre = "Isabella" imgLink = {isa}/>
            <MiembroImg nombre = "Sofia" imgLink = {sofia}/>
            <MiembroImg nombre = "Daniela" imgLink = {daniela}/>
            <MiembroImg nombre = "Tatiana" imgLink = {tatiana}/>
            <MiembroImg nombre = "nombre1" imgLink = {nombre1}/>
            <MiembroImg nombre = "nombre2" imgLink = {nombre2}/>
            <MiembroImg nombre = "nombre3" imgLink = {nombre3}/>
            <MiembroImg nombre = "nombre4" imgLink = {nombre4}/>
        </div>

    </div>
</Layout>
