---
import daniela from '../assets/miembros/daniela.webp';
import isa from '../assets/miembros/isa.webp';
import rocio from '../assets/miembros/rocio.webp';
import shael from '../assets/miembros/shael.webp';
import sheila from '../assets/miembros/sheila.webp';
import marina from '../assets/miembros/marina.webp';
import sofia from '../assets/miembros/sofia.webp';
import tatiana from '../assets/miembros/tatiana.webp';

import Layout from '../layouts/Layout.astro';
import UneteImagenes from '@/components/componentes-unete/UneteImagenes.astro';
import Timeline from '@/components/componentes-unete/timeline/Timeline.astro';

const title = "Unete"
---
<Layout title = {title} textColor = "text-white" bgColor="bg-zinc-900">
    <div class="max-w-7xl mx-auto grid text-purple-400  px-10 md:px-20 lg:px-20">

        <div class="text-center space-y-10 mb-5">
            <h2 class="text-4xl md:text-5xl lg:text-7xl font-bold text-white"><span class="text-purple-400">LILAC</span>DREAMERS</h2>
            <h2 class="text-xl md:text-xl lg:text-3xl font-bold text-white"><span class="">PROCESO DE APLICACION</h2>
        </div>

        <!-- component -->
        <Timeline />

        <!-- Imagenes de las miembros -->
        <div class="flex">
            <UneteImagenes nombre = "marina" imgLink = {marina} size = "small"/>
            <UneteImagenes nombre = "rocio" imgLink = {rocio} size = "medium"/>
            <UneteImagenes nombre = "Daniela" imgLink = {daniela} size = "big"/>
            <UneteImagenes nombre = "Isabella" imgLink = {isa} size = "extra big"/>
            <UneteImagenes nombre = "Sofia" imgLink = {sofia} size = "extra big"/>
            <UneteImagenes nombre = "Tatiana" imgLink = {tatiana} size = "big"/>
            <UneteImagenes nombre = "shael" imgLink = {shael} size = "medium"/>
            <UneteImagenes nombre = "sheila" imgLink = {sheila} size = "small"/>
        </div>

    </div>
</Layout>
