---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import daniela from '../assets/miembros/daniela-miembro.webp';
import isa from '../assets/miembros/isa-miembro.webp';
import nombre1 from '../assets/miembros/nombre1-miembro.webp';
import nombre2 from '../assets/miembros/nombre2-miembro.webp';
import nombre3 from '../assets/miembros/nombre3-miembro.webp';
import nombre4 from '../assets/miembros/nombre4-miembro.webp';
import nombre5 from '../assets/miembros/nombre5-miembro.webp';
import sofia from '../assets/miembros/sofia-miembro.webp';
import tatiana from '../assets/miembros/tatiana-miembro.webp';

const title = "Unete"
---

<Layout title = {title} textColor = "text-white" bgColor="bg-zinc-900">
    <div class="max-w-7xl mx-auto grid text-purple-400 space-y-5 px-10 md:px-20 lg:px-20">
        <div class="my-5 text-center order-1 md:order-1 space-y-5">
            <h2 class="text-4xl md:text-5xl lg:text-7xl font-bold text-white"><span class="text-purple-400">LILAC</span>DREAMERS</h2>
            <div>
                <a aria-label="Llenar el formulario para ser parte de Lilacdreamers" href = "https://docs.google.com/forms/d/e/1FAIpQLSeJ0EbWeBrFwKSHB_o08n5cAuJvxaV3d4OfKLar21THibqM6Q/viewform" target="_blank" class="md:text-3xl lg:text-2xl font-bold py-1 px-3 bg-purple-500 hover:bg-purple-600 rounded-lg text-white">Unete!</a>
        </div>
        </div>


        <div class="flex order-2 md:order-2">
            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {nombre4} alt = "lilacdreamrs - nombre4 miembro" class="hidden sm:block h-[100px] md:h-[100px] lg:h-[200px] object-cover rounded blur-sm hover:blur-none" />
            </div>
            
            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {nombre1} alt = "lilacdreamrs - nombre1 miembro" class="hidden lg:block h-[100px] md:h-[100px] lg:h-[300px] object-cover rounded blur-sm hover:blur-none" />
            </div>  

            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {daniela} alt = "lilacdreamrs - Daniela miembro" class="h-[200px] md:h-[200px] lg:h-[400px] object-cover rounded blur-sm hover:blur-none" />
            </div>    

            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {isa} alt = "lilacdreamrs - Isabella miembro" class="h-[300px] md:h-[300px] lg:h-[500px] object-cover rounded" />
            </div>   

            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {sofia} alt = "lilacdreamrs - Sofia miembro" class="h-[300px] md:h-[300px] lg:h-[500px] object-cover rounded" />
            </div>   
                     
            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {tatiana} alt = "lilacdreamrs - Tatiana miembro" class="h-[200px] md:h-[200px] lg:h-[400px] object-cover rounded blur-sm hover:blur-none" />
            </div>   

            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {nombre2} alt = "lilacdreamrs - Nombre2 miembro" class="hidden lg:block h-[100px] md:h-[100px] lg:h-[300px] object-cover rounded blur-sm hover:blur-none" />
            </div>    

            <div class="grid max-w-sm mx-auto items-center">
                <Image src= {nombre3} alt = "lilacdreamrs - Nombre3 miembro" class="hidden sm:block h-[100px] md:h-[100px] lg:h-[200px] object-cover rounded blur-sm hover:blur-none" />
            </div>
        </div>
    </div>
</Layout>

<style>
    img {
        transition: 0.5s ease;
        mask-image: linear-gradient(black 70%, transparent);
    }

    img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
        z-index: 99;
    }
</style>